[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-login = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-mail = "*"
pillow = "*"
gunicorn = "*"
flask-wtf = "*"
email-validator = "*"
colorama = "*"
babel = "*"
timeago = "*"
bleach = "*"
flask-migrate = "*"
flask-script = "*"

[dev-packages]

[requires]
python_version = "3.8"
