{% extends "layout.html" %}
{% block body %}
<!-- BreadCrumb start -->
<section class="breadcrumb-area">
    <div class="breadcrumb-widget  pt-145 pb-125" style="background-image: url(https://images.pexels.com/photos/955389/pexels-photo-955389.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-content pt-170">
                        <h1>My proposals</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- BreadCrumb end -->

<section class="pt-140 pb-140 get-touch-area bg_white">
    <div class="container">
        <div class="row gy-4 gy-lg-0">
            <div class="col-lg-12">
                <div class="contact-form-widget">
                    {% if not current_user.proposals %}
                    <div class="jumbotron">
                        <h3>You have not submitted any proposal yet</h3>
                        <a class="btn btn-primary mt-3" href="{{ url_for('index') }}">Find work and submit a proposal here</a>
                    </div>
                    {% endif %}

                    {% for proposal in current_user.proposals %}
                    <div class="job-post-widget">
                    <div class="single-job-post me-1 wow fadeInUp mt-25">
                        <div class="post-header">
                            <div>
                                {% if proposal.its_job.active == True %}
                                <h4><span class="badge badge-success">Job active</span></h4>
                                {% else %}
                                <h4><span class="badge badge-danger">Job closed</span></h4>
                                {% endif %}
                                <h6 class="job-title"><a href="{{ url_for('job',id=proposal.its_job.id) }}">{{ proposal.its_job.title }}</a> </h6>
                                <div class="d-flex flex-wrap">
                                    <div class="job-location me-lg-3 me-2"> <i class="icon_pin_alt"></i>{{ proposal.its_job.location.name }}
                                    </div>
                                    <div class="job-catagory"> <span>{{ proposal.its_job.category.categoryname }}</span> | {{ proposal.its_job.schedule.schedulename }}
                                    </div>
                                </div>
                           </div>
                           <div class="timestamp">
                               Proposal initiated
                            {{ proposal.date_initiated.strftime('%d-%m-%Y') }}
                            </div>
                        </div>
                        <div class="post-content">
                            <p>{{ proposal.its_job.job_responsibilities }}</p>
                            <a class="btn btn-primary mt-5" href="{{ url_for('proposal', id=proposal.id) }}">View in detail</a>
                        </div>
                    </div>
                    </div>
                    {% endfor %}



                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}