{% extends "layout.html" %}
{% block body %}
<!-- BreadCrumb start -->
<section class="breadcrumb-area">
    <div class="breadcrumb-widget  pt-145 pb-125" style="background-image: url(https://images.pexels.com/photos/955389/pexels-photo-955389.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-content pt-170">
                        <h1>Proposals for {{ job.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- BreadCrumb end -->

<section class="pt-140 pb-140 get-touch-area bg_white">
    <div class="container">
        <div class="row gy-4 gy-lg-0">
            <div class="col-lg-12">
                <div class="contact-form-widget">
                    {% if not job.proposals %}
                    <div class="jumbotron">
                        <h3>No proposals submitted yet</h3>
                    </div>
                    {% endif %}

                    {% for proposal in job.proposals %}
                    <div class="job-post-widget">
                    <div class="single-job-post me-1 wow fadeInUp mt-25">
                        <div class="post-header">
                            <div>
                                <h6 class="job-title"> Proposal by {{ proposal.job_seeker.username }}</h6>
                           </div>
                           <div class="timestamp">
                               Proposal initiated
                            {{ proposal.date_initiated.strftime('%d-%m-%Y') }}
                            </div>
                        </div>
                        <div class="post-content">
                            <p><span style="font-weight: bold;">First Name:</span> {{ proposal.firstname }}</p>
                            <p><span style="font-weight: bold;">Last Name:</span> {{ proposal.lastname }}</p>
                            <p><span style="font-weight: bold;">Email:</span> {{ proposal.email }}</p>
                            <p><span style="font-weight: bold;">Phone Number:</span> {{ proposal.phone }}</p>
                            <p style="font-weight: bold;">Message:</p>
                            <pre>{{ proposal.message }}</pre>
                            <h5>Other documents</h5>
                            {% for doc in proposal.docs %}
                            <p style="color: #007bff;"><a target="_blank" href="{{ url_for('uploaded_file', filename = doc.docname) }}">{{ doc.docname }}</a></p>
                            {% endfor %}
                        </div>
                        <div class="post-content">
                            <p>Contact Applicant</p>
                            <div>
                                <a href="tel:{{ proposal.job_seeker.phone_number }}">
                                    <i class="fa fa-phone p-2"></i>
                                </a>
                                <a href="mailto:{{ proposal.job_seeker.email }}">
                                    <i class="fa fa-envelope p-2"></i>
                                </a>
                            </div>
                            <p class="mt-2">or</p>
                            <button class="btn btn-lg btn-primary mt-3"
                            data-bs-toggle="modal"
                            data-bs-target="#applyModal" 
                            >Reply on our website</button>
                        </div>

                        <div class="modal job-application-modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                        <div class="post-content">
                            <form action="{{ url_for('send_msg_applicant', j_id = job.id, p_id = proposal.id) }}" method="post">
                                <div class="form-group">
                                    <label for="comment">Message:</label>
                                    <textarea name="msg" class="form-control" rows="5" id="msg" required></textarea>
                                </div>
                                <button class="btn btn-primary btn-lg" type="submit">Send</button>
                            </form>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>


                    </div>
                    </div>
                    {% endfor %}



                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}