{% extends "layout.html" %}
{% block body %}
        <!-- BreadCrumb start -->
        <section class="breadcrumb-area">
            <div class="breadcrumb-widget  pt-145 pb-125" style="background-image: url(https://images.pexels.com/photos/914668/pexels-photo-914668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="breadcrumb-content pt-170">
                                <h1>Product details</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- BreadCrumb end -->

        <section class="pt-110 pb-130 bg_disable">
            <div class="container">
                <div class="row">
                    <!-- left side bar -->
                    <div class="col-lg-4  pr-lg-55">
                        <div class="left-sidebar-widget">
                            <div class="sidebar-header">
                                <div class="sidebar-title">
                                    <h4>Product details</h4>
                                </div>
                            </div>
                            <div class="sidebar-header">
                                <div class="sidebar-title">
                                    <p><b>{{ product.title }}</b></p>
                                    <div class="d-flex flex-wrap">
                                        <div class="job-location me-lg-3 me-2"> <i class="icon_pin_alt"></i>{{ product.product_location.name }}
                                        </div>
                                        <div class="job-catagory"> <span>{{ product.product_category.productcategoryname }}</span>
                                        </div>
                                    </div>
                                    <p>Price: {{ product.price }}</p>
                                    <p class="text-muted">Posted {{ time_posted }}</p>
                                    <p>{{ product.additional_details }}</p>
                                </div>
                            </div>
                            <div class="single-sidebar-widget mt-60 widget-border">
                                <div class="catagory-list-widget">
                                    <div class="widget-title">
                                        <h5>Posted by {{ product.owner.username }}</h5>
                                    </div>
                                    <div class="widget-content p-3">
                                        <p><b>Contact Details</b></p>
                                        <div class="mt-2 mb-2">
                                            <a class="pr-2 pt-2 pb-2" href="tel:{{ product.owner.phone }}">
                                                <i style="font-size: 20px;color: #4285F4;" class="fa fa-phone"></i>
                                            </a>
                                            <a class="p-2" href="mailto:{{ product.owner.email }}">
                                                <i style="font-size: 22px;" class="fa fa-envelope text-secondary"></i>
                                            </a>
                                      </div>
                                    </div>
                                    <div class="widget-content p-3">
                                        {% if product.owner.instagram != None or product.owner.facebook != None or product.owner.twitter != None %}
                                        <p><b>Social Media</b></p>
                                        {% endif %}
                                        <div class="mt-2 mb-2">
                                            {% if product.owner.instagram != None %}
                                            <a class="pr-2 pt-2 pb-2" target="_blank" href="{{ product.owner.instagram }}">
                                                <i style="font-size: 24px;color: #F77737;" class="fab fa-instagram"></i>
                                            </a>
                                            {% endif %}
                                            {% if product.owner.facebook != None %}
                                            <a class="p-2" target="_blank" href="{{ product.owner.facebook }}">
                                                <i style="font-size: 24px;color: #4267B2;" class="fab fa-facebook"></i>
                                            </a>
                                            {% endif %}
                                            {% if product.owner.twitter != None %}
                                            <a class="p-2" target="_blank" href="{{ product.owner.twitter }}">
                                                <i style="font-size: 24px;color: #1DA1F2;" class="fab fa-twitter"></i>
                                            </a>
                                            {% endif %}
                                      </div>
                                    </div>
                                </div>
                            </div>


                            <div class="single-sidebar-widget mt-60 widget-border">
                                <div class="catagory-list-widget">
                                    <div class="widget-title">
                                        <h5>Safety tips</h5>
                                    </div>
                                    <div class="widget-content p-3">
                                        <ul class="catagory-list py-3">
                                            <li class="catagory-item "> Remember, don't send any pre-payments</li>
                                            <li class="catagory-item "> Meet the seller at a safe public place</li>
                                            <li class="catagory-item "> Inspect the goods to make sure they meet your needs</li>
                                            <li class="catagory-item "> Check all documentation and only pay if you're satisfied</li>
                                        </ul>
                                        <a href="mailto:smuminaetx100@gmail.com" class="btn btn-outline-danger">Report abuse</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="single-sidebar-widget mt-60 widget-border">
                                <div class="catagory-list-widget">
                                    <div class="widget-content p-3">
                                        <div>
                                            {% if product.owner == current_user %}
                                            <a href="{{ url_for('newproduct') }}" class="btn btn-outline-primary">Post another product</a>
                                            {% else %}
                                            <a href="{{ url_for('newproduct') }}" class="btn btn-outline-primary">Post your own product</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Right bar -->
                    <div class="col-lg-8">
                        <div class="job-post-widget">
              
                        <div class="slideshowcontainer">
                            {% for img in imgs %}
                           <div class="mySlides">
                            <img src="{{ url_for('static', filename='img/marketplace/') }}{{img.name}}" style="width:100%">
                            </div>
                            {% endfor %}
                            <a class="prev" onclick="plusSlides(-1)">❮</a>
                            <a class="next" onclick="plusSlides(1)">❯</a>
                        
                        </div>
                        <div class="bg-light pr-3 mt-3">
                            <i class="fa fa-camera mr-1"></i>{{ length_of_imgs }} image(s)
                        </div>
                        {% if product.owner == current_user %}
                        <div class="pr-3 mt-3">
                            <a class="text-primary" href="{{ url_for('addproductimgs', id=product.id) }}">Add images</a>
                        </div>
                        {% endif %}
                        <div class="mt-5">
                            {% if product.owner == current_user %}
                            <a class="btn btn-primary" href="{{ url_for('productupdate', id=product.id) }}">Update product</a>
                            <button class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#applyModal">Delete product</button>
                            {% endif %}
                        </div>


                        
                        <div class="modal job-application-modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div>
                                        <h4 class="job-title">Are you sure you want to delete this product?</h4>
                                    </div>

                                    <div class="p-3">
                                        <form action="{{ url_for('deleteproduct', id=product.id) }}" method="post">
                                        <button type="submit" class="btn btn-danger">
                                            Delete
                                        </button>
                                       </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                            
                        </div>
                    </div>

                </div>
            </div>
        </section>


        {% endblock body %}