{% extends "layout.html" %}
{% block body %}
 <!-- Error start -->
 <section class="error_area bg_color pb-50 overflow-hidden">
    <div style="margin-top: 300px;"></div>
    <div class="container">
        <div class="error_content_two text-center">
            <h2 class="wow fadeIn">Error 404! We can’t find the page you’re looking for.</h2>
            <p>Sorry for the inconvenience. Go to our homepage and check out the latest jobs and collections of Fashion,
                Electronics, Services and more...</p>

            <a href="{{ url_for('index') }}" class="action_btn theme-btn mt-3"><i class="arrow_left"></i>Back to Home
                Page</a>
        </div>
    </div>
</section>
<!-- Error end -->
{% endblock %}