{% extends "layout.html" %}
{% block body %}
<!-- BreadCrumb start -->
<section class="breadcrumb-area">
    <div class="breadcrumb-widget  pt-145 pb-125" style="background-image: url(../static/img/breadcrumb/bg-2.png);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-content pt-170">
                        <h1>404 NOT FOUND</h1>
                        <p>🧐</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- BreadCrumb end -->

<section class="pt-140 pb-140 get-touch-area bg_white">
    <div class="container">
        <div class="row gy-4 gy-lg-0">
            <div class="col-lg-12">
                <div class="contact-form-widget">


                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}