{% extends "layout.html" %}
{% block body %}
<section class="breadcrumb-area">
    <div class="breadcrumb-widget  pt-145 pb-125" style="background-image: url(https://images.pexels.com/photos/1598505/pexels-photo-1598505.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-content pt-170">
                        <h1>500 Error!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
 <!-- Error start -->
 <section class="error_area bg_color pb-50 overflow-hidden">
    <div class="container">
        <div class="error_content_two text-center">
            <h2 class="wow fadeIn">Error 500. Internal server error!</h2>
            <p>Sorry for the inconvenience. Go to our homepage and check out the latest jobs and collections of Fashion,
                Electronics, Services and more...</p>

            <a href="{{ url_for('index') }}" class="action_btn theme-btn mt-3"><i class="arrow_left"></i>Back to Home
                Page</a>
        </div>
    </div>
</section>
<!-- Error end -->
{% endblock %}