{% extends "layout.html" %}
{% block body %}
<!-- BreadCrumb start -->
<section class="breadcrumb-area">
    <div class="breadcrumb-widget  pt-145 pb-125" style="background-image: url(https://images.pexels.com/photos/2882566/pexels-photo-2882566.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-content pt-170">
                        <h1>Stay safe on ForeverKenyan</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- BreadCrumb end -->

  <!-- contact start -->
  <section class="pt-140 pb-140 get-touch-area bg_white">
    <div class="container">
        <div class="row gy-4 gy-lg-0">
            <div class="container">
                <div class="contact-form-widget">
                    <div class="jumbotron">
                       <h2 class="text-secondary">Be careful</h2>
                       <p>
                        Conduct a background check on the company before going for an interview and also verify its website. 
                        Do not submit any upfront fees for a job application or go for interviews in remote or unfamiliar places. 
                        There should be no sharing of personal details such as bank account number or copy of your ID.
                       </p>
                    </div>
                    <div class="jumbotron">
                        <h2 class="text-secondary">Meet Sellers in person</h2>
                        <p>
                            Check the quality of the item(s) and make sure it meets your expectations before making payment
                        </p>
                    </div>
                    <div class="jumbotron">
                        <h2 class="text-secondary">Prepayments are strictly prohibited</h2>
                        <p>
                            Buyers - no prepayment should be made for either the delivery or the products. 
                            You can discuss the delivery cost, but payment should be made only AFTER the product is delivered successfully.
                        </p>
                        <p>
                            Sellers - don't ask for any prepayments before delivery!
                        </p>
                    </div>
                    <div class="jumbotron">
                        <h2 class="text-secondary">Never give out your financial information</h2>
                        <p>
                            Including bank account details, eBay/PayPal info and any other information that could be misused
                        </p>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact end -->

{% endblock body %}