{% extends "layout.html" %}
{% block body %}
<!-- BreadCrumb start -->
<section class="breadcrumb-area">
    <div class="breadcrumb-widget  pt-145 pb-125" style="background-image: url(https://images.pexels.com/photos/2882566/pexels-photo-2882566.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-content pt-170">
                        <h1>Unsubscribe email alerts</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- BreadCrumb end -->

  <!-- unsubscribe start -->
  <section class="pt-140 pb-140 get-touch-area bg_white">
    <div class="container">
        <div class="row gy-4 gy-lg-0">
            <div class="container">
                <div class="contact-form-widget">
                    <form action="{{ url_for('unsubscribe_job') }}" method="POST">
                        <label for="email">Email</label>
                    </form>
                 
                </div>
            </div>
        </div>
    </div>
</section>
<!-- unsubscribe end -->

{% endblock body %}